# Dossiers
build
*.swp
*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
run
*.exe
*.out
*.app

# Autres
call\.svg
call\.png
parse\.py
perf\.data
perf\.data\.old
src\.zip
